.glass {
  background: rgba(255, 255, 255, 0.25); /* Warna latar belakang dengan transparansi */
  backdrop-filter: blur(10px); /* Efek blur */
  -webkit-backdrop-filter: blur(10px); /* Efek blur untuk browser WebKit (Safari, Chrome) */
  padding:0.4rem;
}
